/* Catppuccin Latte Flamingo (Light) & Catppuccin Moccha Green (Dark) */
.theme-dark {
  --accent-color: #e5c890 !important;
  --accent-rgb: rgb(229, 200, 144);
  --accent-85: #e5c890d9;
  --background-1: #181926 !important;
  --background-2: #1e2030 !important;
  --bg-2-85: rgba(30, 32, 48, .55);
  --bg-2-20: rgba(30, 32, 48, .20);
  --bg-2-75: rgba(30, 32, 48, .75);
  --border-color: #1e1e2e !important;
  --background-mentioned: #e5c89010 !important;
  --background-mentioned-hover: #f2cdcd15 !important;
  --background-modifier-hover: #313244 !important;
  --background-modifier-active: #45475a !important;
  --text-normal: #cdd6f4 !important;
  --text-positive: #7faf5e !important;
  --text-muted: #a6adc8 !important;
  --text-link: #edf8fe !important;
  --settings-icon-color: #8eacbc !important;
  --tab-selected: #394935 !important;
  --switch: #41533d !important;
  --button-background: #2e392a !important;
  --button-background-hover: #374935 !important;
  --button-background-active: #585b70 !important;
  --button-accent-hover: #f9e2af !important;
  --button-accent-active: #ef9f76 !important;
  --button-destructive: #fb7c7c !important;
  --button-destructive-hover: #ff929b !important;
  --button-destructive-active: #fa4a4a !important;
  --unread: #f5a97f !important;
  --unread-85: rgba(245, 168, 127, 0.25) !important;
  --accented-hover: #179299 !important;
  --green-330: #a6d189 !important;
  --green-360: #7faf5e !important;
  --green-430: #7faf5e;
  --status-positive: #7faf5e !important;
  --status-danger: #e78284 !important;
  --text-muted-accented: var(--button-background-active);
  --button-positive-background: var(--text-positive);
  --button-positive-background-hover: var(--green-330);
  --mention-background: #e5c8905e;
  --mention-foreground: #e2efe1;
  --red-400: #e64553;
  --spoiler-box: #24273a;
  --selected-text: #93e1d466;
}

.theme-light {
  --accent-color: #7287fd !important;
  --accent-rgb: rgb(114, 135, 253);
  --accent-85: #7287fdd9 !important;
  --background-1: #eff1f5 !important;
  --background-2: #e6e9ef !important;
  --bg-2-85: rgba(230, 233, 239, .55) !important;
  --bg-2-20: rgba(230, 233, 239, .20);
  --bg-2-75: rgba(230, 233, 239, .75);
  --border-color: transparent !important;
  --background-mentioned: #7287fd10 !important;
  --background-mentioned-hover: #7287fd15 !important;
  --background-modifier-hover: #dcdcf5 !important;
  --background-modifier-active: #d0d0e1 !important;
  --text-normal: #4c4f69 !important;
  --text-positive: #7faf5e !important;
  --text-muted: #6c6f85 !important;
  --text-link: #7287fd !important;
  --settings-icon-color: #566e86 !important;
  --tab-selected: var(--background-1) !important;
  --switch: #dcdff5  !important;
  --button-background: var(--background-1) !important;
  --button-background-hover: #dcdff5 !important;
  --button-background-active: #acb0be !important;
  --button-accent-hover: #babbf1 !important;
  --button-accent-active: #7287fd !important;
  --button-destructive: #fb7c7c !important;
  --button-destructive-hover: #ff929b !important;
  --button-destructive-active: #fa4a4a !important;
  --unread: #c6a0f6 !important;
  --unread-85: rgba(198, 160, 246, 0.25) !important;
  --accented-hover: #d0d6f7 !important;
  --green-330: #a6d189 !important;
  --green-360: #7faf5e !important;
  --green-430: #7faf5e;
  --status-positive: #7faf5e !important;
  --status-danger: #e64553 !important;
  --text-muted-accented: #e6e9efba !important;
  --button-positive-background: var(--text-positive);
  --button-positive-background-hover: var(--green-330);
  --mention-background: #7287fd5e;
  --mention-foreground: #4d70f1;
  --red-400: #ec7e80;
  --selected-text: #a5b1f566;
} 

:root {
  --yellow-360: #e5c890;
  --background-primary: var(--background-1) !important;
  --background-primary-alt: var(--background-1) !important;
  --background-secondary: var(--background-1) !important;
  --background-secondary-alt: var(--background-1) !important;
  --background-tertiary: var(--background-2) !important;
  --background-accent-gradient: var(--background-2) !important;
  --background-floating: var(--background-1) !important;
  --background-accent: var(--background-2) !important;
  --background-modifier-selected: var(--accent-color) !important;
  --interactive-selected: var(--background-primary) !important;
  --background-modifier-accent: transparent !important;
  --background-message-hover: transparent !important;
  --interactive-normal: var(--text-normal) !important;
  --interactive-muted: var(--button-background-active) !important;
  --channels-default: var(--text-muted) !important;
  --header-primary: var(--text-normal) !important;
  --header-secondary: var(--text-muted) !important;
  --control-brand-foreground: var(--accent-color) !important;
  --info-warning-foreground: var(--accent-color) !important;
  --activity-card-background: var(--background-1) !important;
  --brand-experiment: var(--accent-color) !important;
  --button-accent: var(--accent-color) !important;
  --interactive-active: var(--text-normal) !important;
  --interactive-hover: var(--interactive-normal) !important;
}