/**
 * @name Celk
 * @version 1.2.2
 * @description a smooth theme inspired by zorin
 * @author schnensch & temperance
 * @authorId 652801938374656013
 * @source https://github.com/schnensch0/zelk
 */
/*         ▀▀█ █▀▀ █   █ █
           ▄▀  █▀▀ █   █▀▄
           ▀▀▀ ▀▀▀ ▀▀▀ ▀ ▀           */
/*--------------IMPORTS------------- */
@import url(https://schnensch0.github.io/zelk/main.css);
@import url(https://discord-custom-covers.github.io/usrbg/dist/usrbg.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);
@import url(https://blacksparowyt.github.io/Zelk-Discord-Theme-Fixes/main-fixes.css);
/*--------------COLORS---------------*/
/*------remove / and * to apply------*/
@import url(./catppuccin.css);
/* @import url(https://raw.githack.com/schnensch0/zelk/main/colors/green.css); */
/* @import url(https://raw.githack.com/schnensch0/zelk/main/colors/gray.css); */
/* @import url(https://raw.githack.com/schnensch0/zelk/main/colors/orange.css); */
/* @import url(https://raw.githack.com/schnensch0/zelk/main/colors/purple.css); */
/* @import url(https://raw.githack.com/schnensch0/zelk/main/colors/red.css); */
/* @import url(https://raw.githack.com/schnensch0/zelk/main/colors/discord.css); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*-------------VARIABLES-------------*/
:root {
  /* set to 'unset' to show */
  --scrollbars: none;
  /* user notes */
  --notes: none;
  /* direct message box */
  --message: none;
  /* set to '4px solid' to show */
  --embed-color: none;
  --border-radius-1: 10px;
  --border-radius-2: 8px;
  --spacing: 12px;
  --font-primary: "Atkinson Hyperlegible" !important;
  --font-display: "Assistant" !important;
  --var-opacity-option: 0.4 !important;
  /* Set's the BASE opacity (titlebar, and the server bar) */
  --brand-360: var(--accent-color) !important;
  --brand-500: var(--accent-color) !important;
  --brand-530: var(--accent-color) !important;
  --brand-600: var(--accent-color) !important;
  --channeltextarea-background: var(--background-2);
}

:root {
  /*
    * RadialStatus veriables
    */
  --rs-small-spacing: 2px;
  /* Spacing between profile image and outer ring on small icons (e.g. member list) | Default: 2px */
  --rs-medium-spacing: 4px;
  /* Spacing between profile image and outer ring on medium icons (e.g. user popout) | Default: 4px */
  --rs-large-spacing: 4px;
  /* Spacing between profile image and outer ring on medium icons (e.g. user popout fullscreen) | Default: 4px */
  --rs-small-width: 1.5px;
  /* Ring width (follows same sizing as above) | Default: 1.5px */
  --rs-medium-width: 2px;
  /* Default: 2px */
  --rs-large-width: 2px;
  /* Default: 2px */
  /* Customizable colors */
  --rs-online-color: #a6d189;
  /* Default: #43b581 */
  --rs-idle-color: #eed49f;
  /* Default: #faa61a */
  --rs-dnd-color: #e64553;
  /* Default: #f04747 */
  --rs-offline-color: #636b75;
  /* Default: #636b75 */
  --rs-streaming-color: #babbf1;
  /* Default: #643da7 */
  --rs-invisible-color: #747f8d;
  /* Default: #747f8d */
  --rs-phone-color: var(--rs-online-color);
  /* Color of the phone for mobile users | Default: var(--rs-online-color) */
  --rs-phone-visible: ;
  /* Visibility of the phone for mobile users | Default: block */
  --glow-intensity: 1;
  --indicator-connected-border: hsl(var(--indicator-connected));
  --indicator-connected-background: hsla(var(--indicator-connected)/0.15);
  --indicator-connected-hover-background: hsla(var(--indicator-connected)/0.25);
  --indicator-connected: var(--green-230-hsl);
  --blur-small: 10px;
}

/* CUSTOM CSS */

.header_fd6364 {
  background-color: var(--bg-2-85);
  backdrop-filter: blur(var(--blur-small));
}

.hasBanner_fd6364 .header_fd6364 {
  background-color: transparent;
  backdrop-filter: none;
  & .defaultColor_e9e35f {
    color: inherit;
  }
}

.scroller_c43953 {
  top: -48px;
  height: 100vh;
  flex-shrink: 0;
  & .content_eed6a8 {
    margin-top: 48px;
    margin-bottom: 72px;
  }
}

.sidebar_a4d4d9:has(.container_adcaac) {
  .content_eed6a8 {
    margin-bottom: 174px;
  }
}

.panels_a4d4d9 {
  background: transparent;
  backdrop-filter: blur(var(--blur-small));
}

.container_adcaac {
  background: var(--bg-2-85);
}

.container_b2ca13 {
  background: var(--bg-2-85) !important;
}


[class*="userProfileInner_"]:not([class*="biteSizeInnerThemed_"]) {
  & [class*="wrapper_"][class*="panel_"] {
    margin-top: 48px;
    & button {
      background-color: var(--bg-2-85);
    }
  }
  & [class*="header_"] {
    margin-top: 48px;
  }
  & [class*="scrollerBase_"] {
    min-height: 100%;
    & [class*="overlayBackground_"] {
      margin-bottom: 48px !important;
    }
  }
  & [class*="footer_"] {
    position: sticky;
    bottom: 0;
    & button {
      background-color: var(--bg-2-20) !important;
      backdrop-filter: blur(var(--blur-small));
      & [class*="contents_"] {
        background: none;
      }
    }
  }
}

 [class*="spoilerMarkdownContent_"][class*="hidden_"] {
  border-radius: 30px;
  background-color: #24273a;
  filter: blur(5px);
  & [class*="obscuredTextContentInner"] {
    padding: 0.5px;
    color: var(--text-normal);
    & span {
      opacity: 1;
    }
  }
} */

[class*="sidebar_"] > [class*="privateChannels_"] > [class*"searchBar_"]  {
  position: sticky;

}

#vc_toolbox > [class*="scrollerBase_"] {
    min-height: unset !important;
}


#channels {
  & [class*="link_"] {
    border-radius: 35px;
    font-size; 1em;
  }
  & [class*="linkTop_"] {
    margin: 0 3px;
  }
  & [class*="linkBottom_"] {
    margin-left: 29px;
  }
}

[class*="containerDefault_"]:has([class*="mainContent_"]) {
  & :hover {
    & [class*="children_"] {
      display: block;
    }
    & svg[class*="icon"] {
      display: unset;
    }
  }
  & [class*="children_"] {
    display: none;
  }
  & svg[class*="icon"] {
    display: none;
  }
}

[class*="actionButtons_"] [class*="button_"] {
  background-color: var(--bg-2-20);
  color: var(--text-normal) !important;
}

[class*="interactiveSelected_"]:has([class*="highlighted_"]) {
    background: linear-gradient(270deg, var(--unread), var(--accent-color));
    background-size: 400% 400%;
    animation: unreadGradient 10s ease infinite;
}

@keyframes unreadGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


[class*="modeSelected_"]:has([class*="unreadImportant_"]) [class*="link_"] {
      background: linear-gradient(270deg, var(--unread), var(--accent-color));
      background-size: 800% 800%;
      animation: unreadGradient 10s ease infinite;
}

[class*="modeUnreadImportant_"] {
  & svg[class*="icon_"] {
    color: var(--unread) !important;
  }
}


[class*="modeSelected_"] [class*="linkBottom_"] {
    color: var(--text-muted-accented) !important;
    & [class*="status"] {
      color: inherit;
    }
}

[class*="toolbar_"] [class*="searchBar_"] {
  width: auto;
  & .DraftEditor-root {
    width: 0
  }

  & [class*="iconContainer_"] {
    width: 24px;
    height: 24px;
    & [class*="icon_"] {
      color: var(--text-normal);
    }
  }
}

[class*="open"] [class*="searchBar_"] {
    width: 240px;
  }

[class*="channelTextArea_"] > [class*="scrollableContainer_"] {
  border-radius: 30px;
  & [class*="inner_"] > [class*="buttons_"] {
    margin-right: 16px;
  }
  & [class*="upload_"] {
    background: var(--bg-2-75);
    border-radius: 20px;
  }
}

[class*="channelTextArea_"]:has([class*="attachedBars_"]) > [class*="scrollableContainer_"] {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

[class*="messageListItem_"] > [class*="message_"] {
  padding-right: 32px;
}

[class*="visualMediaItemContainer_"] {
  max-width: 800px;
}

[class*="oneByOneGrid_"] {
  max-height: unset;
}

[class*="videoControls_"] [class*="controlIcon"] {
  & path {
    fill: white;
  }
}

[class*="oneByOneGrid_"] [class*="imageWrapper_"] {
  width: auto !important;
  height: auto !important;
  max-height: unset;
  max-width: unset;
}

[class*="twoByTwoGrid_"] {
  max-height: unset;
  grid-gap: 5px;
}

[class*="membersGroup_"] {
  padding: 0 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: auto;
}

.vc-membercount-member-list {
  font-family: 'Poppins';
  margin-top: 62px;
  margin-bottom: 15px;
}

[class*="botTag"] {
  background-color: #8bd5ca !important;
  color: var(--background-1);
  height: auto !important;
  border-radius: 100vw !important;
  padding-left: 7px !important;
  padding-right: 7px !important;
  margin-left: 8px;
}

[class*="botText_"] {
  font-family: 'Poppins' !important;
  font-weight: 600 !important;
  font-size: 0.55rem !important;
  line-height: 0;
  height: auto;
  text-transform: lowercase;
}

[class*="botTagVerified_"] {
  margin-left: -8px !important;
  margin-right: -4px !important;
 & path {
  fill: var(--background-1);
 }
}


[class*="botTagRegular_"] {
  color: var(--background-1);
  font-family: 'Assistant' !important;
  font-size: smaller !important;
}

[class*="rem"][class*="botTag_"] {
  height: auto;
  margin-top: 0.07em !important;
}

[class*="rem"] [class*="botTagVerified_"] {
  margin-top: 0 !important;
}

[class*="chatContent_"]>[class*="form_"]:before {
  background: none;
}

[class*="chatContent_"]>[class*="form_"] {
  margin-top: -100%;
  background: linear-gradient(180deg, transparent, var(--background-1));
  & [class*="wrapper_"] {
    background-color: var(--bg-2-20);
    backdrop-filter: blur(var(--blur-small));
  }
}

[class*="scrollerInner_"] {
  margin-bottom: 100%;
}

[class*="isUnread_"] [class*="content_"] {
  color: var(--unread) !important;
}

[class*="interactiveSelected_"] {
  color: var(--interactive-selected) !important;
}

[class*="interactive_"]:focus-within {
  background: var(--accent-color);
}

[class*="interactiveSelected_"] [class*="highlighted_"] {
  color: var(--interactive-selected);
}

[class*="highlighted_"] [class*="name_"] {
  font-weight: bold;
}

[class*="modeSelected"] .vc-typing-indicator > .vc-typing-indicator-dots > [class*="dots"][class*="themed"] {
    color: var(--background-1);
}

[class*="marginBottom4_"]:nth-child(3)>div:nth-child(3)>div:nth-child(1) {
  --radio-bar-accent-color: var(--green-360);
}

[class*="marginBottom4_"]:nth-child(3)>div:nth-child(3)>div:nth-child(2) {
  --radio-bar-accent-color: var(--yellow-360);
}

[class*="marginBottom4_"]:nth-child(3)>div:nth-child(3)>div:nth-child(3) {
  --radio-bar-accent-color: var(--red-400);
}

[class*="wrapper_"][class*="selected_"] [class*="childWrapper_"] {
  color: var(--background-1);
}

.theme-dark [class*="marginBottom4_"]:nth-child(3)>div:nth-child(3)>[class*="itemFilled_"][aria-checked="true"],
.theme-dark [class*="radioIconForeground_"] {
  background: var(--radio-bar-accent-color);
  color: var(--background-1);
}

.theme-dark [class*="topPill"] .selected_a0.item_a0 {
  color: var(--background-1);
}

[class*="lookFilled"][class*="colorBrand"] {
  color: var(--background-1);
}

[class*="numberBadge"] {
  background-color: var(--unread) !important;
  color: var(--background-1);
  font-size: 0.60em;
  font-family: "Poppins";
  font-weight: normal;
  padding-top: 1px !important;
  box-shadow: var(--elevation-medium);
  text-align: center;
  padding-left: 50%;
  padding-right: 45% !important;
  background: linear-gradient(270deg, var(--unread), var(--accent-color));
  background-size: 400% 400%;
  animation: unreadGradient 10s ease infinite;
}

[class*="themedBackground"] {
  background: var(--bg-2-20) !important;
  backdrop-filter: blur(var(--blur-small));
}

[class*="themedBackground"] [class*="hasConnectedBar"] {
  background: var(--bg-2-20);
  backdrop-filter: blur(var(--blur-small));
}

[class*="channelTextArea_"] {
  background: transparent !important;
}

[class*="channelTextAreaDisabled_"] [class*="scrollableContainer_"] {
  opacity: 1;
}

[class*="replyBar_"] {
  background: transparent;
}

[class*="attachedBars_"] {
  background: var(--bg-2-20);
  backdrop-filter: blur(var(--blur-small));
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

[class*="searchResultsWrap_"] {
  & [class*="searchHeader_"] {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--bg-2-25);
    backdrop-filter: blur(var(--blur-popup));
  }
  & #search-results {
    margin-top: 48px;
  }
  & [class*="container_"]:has([class*="pageControlContainer_"]) {
    position: relative;
    margin-bottom: 60px;
  }
}

[class*="jumpToPresentBar"] {
  background: var(--accent-85);
  height: 32px;
  width: 32px;
  border-radius: 50px;
  color: var(--text-normal);
  backdrop-filter: blur(var(--blur-small));
  box-shadow: var(--elevation-medium);
  padding: 6px;
  position: absolute;
  top: 6vh;
  animation: fade-in-left 2s ease;
  flex-direction: column;
  justify-content: center;

  & [class*="barButtonMain_"] {
    display: none;
  }
  & [class*="barButtonAlt_"] {
    font-size: 0;
    & svg {
      width: 25px;
      height: 25px;
      display: block;
      margin: 0;
    }
  }
  
  & [class*="spinner_"] {
    justify-content: center;
    padding: 0 !important;
    margin: 0 !important;
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

[class*="jumpToPresentBar"][class*="barBase_"] {
  left: unset;
  right: 32px;
}

[class*="result_"][aria-selected="true"] {
  & [class*="contentDefault_"], [class*="contentUnread_"] {
    color: var(--background-1);

   & [class*="icon_"] {
      color: var(--background-1);
    }

   & [class*="note_"] {
      color: var(--text-muted-accented);
    }

   & [class*="misc_"] {
      color: var(--text-muted-accented) !important;
    }
  }
} 

[class*="result_"] {
  
    [class*="badge_"] {
      margin-right: 5px;
      margin-left: 2px;
    }

    [class*="wrapper_"] {
      background-color: var(--unread);
      border-radius: 100px;
      box-shadow: 0px 0px 3px 0px var(--unread);
      font-family: 'Poppins';
      font-weight: light;
      color: var(--background-1);
      text-shadow: none; 
  }
}

[class*="tabBody"]::before {
  box-shadow: none;
}

[class*="searchBar"] {
  box-shadow: none;
  background-color: var(--background-tertiary);
}

[class*="input"] {
  background: var(--channeltextarea-background);
}

.expression-picker-chat-input-button {
  background: none;
}


[class*="interactiveSelected"] {
  color: var(--background-1) !important;
}

[class*="interactiveSelected"]:hover {
  color: var(--text-normal) !important;
}

.side_a0 .themed_a0.selected_a0.item_a0 {
  color: var(--background-1);
}

.side_a0 .themed_a0.item_a0:hover:not(.disabled_a0) {
  color: var(--text-normal);
}


.chat_fe669e::before {
  box-shadow: none;
}

[class*="gradientContainer_"] {
  background-image: linear-gradient(#1e2030 0%, rgba(30, 32, 48, .738)19%, rgba(30, 32, 48, .541)34%, rgba(30, 32, 48, .382)47%, rgba(30, 32, 48, .278)56.5%, rgba(30, 32, 48, .194)65%, rgba(30, 32, 48, .126)73%, rgba(30, 32, 48, 7.5%)80.2%, rgba(30, 32, 48, 4.2%)86.1%, rgba(30, 32, 48, 2.1%)91%, rgba(30, 32, 48, .8%)95.2%, rgba(30, 32, 48, .2%)98.2%, rgba(30, 32, 48, 0)100%);
}

[class*="callContainer_"] {
  background: var(--background-1);
}

.theme-dark .colorDefault_d90b3d.focused_d90b3d {
  color: var(--background-1);
}

.theme-dark .colorDefault_d90b3d.focused_d90b3d path {
  fill: var(--background-1);
}

.theme-dark .children_e44302::after {
  background: none;
}

.theme-light .children_e44302::after {
  background: none;
}

[class*="nameTag_"] {
  color: var(--text-normal);
}

.withTagAsButton_b2ca13:hover {
  color: var(--background-1);

  .subtext_e06aad {
    color: var(--text-muted-accented)
  }
}

.title_d1da5f {
  color: inherit;
}

.modeUnreadImportant_d8bfb3 .modeSelected_d8bfb3 .name_d8bfb3 {
  font-weight: bold !important;
}

[class*="modeSelected_"]:hover [class*="name_"] ,
[class*="modeSelected_"]:hover [class*="icon_"] {
  color: var(--accented-hover);
}

.modeSelected_d8bfb3 .link_d8bfb3>.linkBottom_d8bfb3>div {
  color: var(--text-muted-accented) !important;
}

.button_adcaac.buttonColor_adcaac:hover>div>.buttonIcon_adcaac {
  --__lottieIconColor: var(--background-primary) !important;
}


button.button_f67531.enabled_f67531:hover {
  color: var(--background-primary);
}

.icon_c07d45 {
  background-color: var(--accent-color) !important;
  color: var(--background-primary);
}

.unreadPill_fc5f50 {
  background-color: var(--unread);
  color: var(--background-primary);
}

.unreadPillCapStroke_fc5f50 {
  color: var(--unread);
  fill: var(--unread);
}

.isUnread_fc5f50 {
  border-color: var(--unread);
}

[class*="unreadImportant"] {
  background-color: var(--unread);
}

[class*="modeSelected_"]>[class*="unreadImportant_"] {
  background-color: var(--accent-color);
  animation: breathing 1.5s ease-out infinite normal;
  transform-origin: center;
  }

@keyframes breathing {
	0% {
		background-color: var(--unread);
	}


  50% {
    transform: translateX(2.5px);
    background-color: var(--accent-color);
  }

	100% {
		background-color: var(--unread);
	}
}



.barButtonBase_cf58b5 {
  color: inherit;
}

.header_fd6364 {
  box-shadow: none;
}


.content_a7d72e::before {
  box-shadow: none;
}

[class*="modeSelected_"] {
  & [class*="name_"] {
    color: var(--background-primary);
  }
  
  & [class*="icon_"] {
    color: var(--background-primary);
  }
  
  & [class*="actionIcon_"] {
    color: var(--background-primary);
    fill: var(--background-primary);
  }

  & [class*="actionIcon_"]>path {
    fill: inherit;
  }
}


.theme-dark .header_f0cd33 .tabBar_f0cd33 .tab_f0cd33.active_f0cd33 {
  background-color: var(--accent-color);
}

/* emoji wrapper */
.header_c6ee36 {
  box-shadow: none;
}

/* 19/06 changes end here */

.akaBadge__27cd4 {
  background-color: var(--text-normal) !important;
  opacity: 0.7;
}

.divider_e44302 {
  background: var(--text-normal);
  opacity: 0.2;
}

.repliedMessage_ec86aa .username_ec86aa {
  margin-left: 0.1em;
  opacity: 0.8
}

.vc-reply-timestamp {
  width: auto !important;
  margin-right: 0.55em;
  line-height: inherit;
}

.repliedMessage_ec86aa .repliedTextPreview_ec86aa .repliedTextContent_ec86aa {
  opacity: 0.65;
}

.unread_c10249 {
  background: none;
}

.unread_c43953 {
  background: transparent;
  z-index: 10;
}

.unread_c10249 {
  background: var(--accent-85);
  backdrop-filter: blur(95px);
  box-shadow: var(--accent-85) 0px 0px 5px 2px;;
  color: var(--background-1);
}

[class*="subtitleContainer_"] {
  /* header de channel discord*/
  backdrop-filter: blur(10px);
  background: var(--bg-2-85);
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;

  & [class*="themed_"] {
    background: transparent !important;
  }
}

[class*="newMessagesBar_"] {
  backdrop-filter: blur(var(--blur-popup));
  background: linear-gradient(270deg, var(--unread-85), var(--accent-85));
  background-size: 800% 800%;
  animation: unreadGradient 10s ease infinite;
  color: var(--background-1);
  position: absolute;
  top: 48px !important;
  /* hauteur du header */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgb(0 0 0 / 3%);
  [class*="barButtonBase_"] {
    color: inherit;
  } 
}

[class*="chatContent_"]:has([class*="notice_"]) {
  & [class*="notice_"] {
    margin-top: 48px;
    background: transparent;
    }
  & [class*="newMessagesBar_"] {
    top: 0 !important;
  }
}



.wrapper_d8bfb3.modeSelected_d8bfb3 .actionIcon_f6f816>path {
  fill: var(--background-1) !important;

}

.modeSelected_d8bfb3:hover .name_d8bfb3 {
  color: var(--background-1)
}

.actionIcon_f6f816 {
  color: var(--text-normal);
}

.vc-reply-timestamp {
  width: 1.8rem !important;
}

.wrapper__8436d:hover .childWrapper_a6ce15,
.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15 {
  color: var(--background-2);
}

.iconBadge_c96c45 {
  background-color: var(--accent-color);
}

#vc-friendcount {
  font-size: 0.65em;
  font-weight: lighter;
}

.base__5ed84 {
  color: var(--background-1) !important;
}

.name_d8bfb3 {
  font-size: 0.9rem;
}

.vc-smyn-suffix {
  font-size: smaller;
}

.children_e44302:after {
  background: none !important;
}

.container_cbd271,
.members_cbd271,
.container_e44302,
.privateChannels_f0963d {
  background-color: var(--background-tertiary) !important;
}

.navButtonActive_af5dbb {
  background-color: var(--accent-color);
}


.theme-dark .chatContainer__23434 {
  background:
    radial-gradient(circle, rgba(34, 31, 38, 0.15) 0%, rgba(26, 24, 30, 1) 60%),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700' opacity='0.63'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='turbulence' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='8' specularConstant='0.8' specularExponent='20' lighting-color='%236e47a5' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E %3CfeDistantLight azimuth='3' elevation='1'%3E%3C/feDistantLight%3E %3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='transparent'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%236e47a5' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");
}

.modeSelected_d8bfb3 .name_d8bfb3,
.modeSelected_d8bfb3 .name_d8bfb3,
.interactiveSelected_c91bad,
.selected_a0.item_a0,
.selected_a0.item_a0:hover {
  color: var(--background-1);
}

.vc-settings-tab-bar>.selected_a0.item_a0 {
  color: var(--accent-color);
}

.button_adcaac .buttonColor_adcaac,
.button_adcaac.buttonColor_adcaac:hover {
  background-color: var(--accent-color);
}

.containerDefault_f6f816.selected_f6f816 .iconNoChannelInfo_f6f816>.actionIcon_f6f816 {
  color: var(--background-1);
}

.barButtonBase_cf58b5 {
  color: var(--background-1);
}

.iconItem_f6f816.alwaysShown_f6f816>.actionIcon_f6f816 {
  color: var(--background-1);
}

.containerDefault_f6f816.selected_f6f816 .dots_ce0450.themed_ce0450 {
  color: var(--background-1);
}

.modeSelected_d8bfb3 .icon_d8bfb3,
.modeSelected_d8bfb3:hover .icon_d8bfb3 {
  color: var(--background-1);
}

.containerDefault_f6f816:has(.modeConnected_d8bfb3) .link_d8bfb3 svg,
.containerDragBefore_f6f816:has(.modeConnected_d8bfb3) .link_d8bfb3 svg {
  color: var(--text-positive);
}

.icon_d8bfb3 {
  color: var(--channels-default);
}

.header_fd6364,
.content_a7d72e:before,
.searchBar_f0963d,
.tabBody_c2739c:before {
  box-shadow: none;
}

.content_a4d4d9 {
  gap: 0;
}

.scroller_c43953 {
  border-top-right-radius: 0;
}

.scroller_e2e187 {
  border-top-left-radius: 0 !important;
}

.chatContent_a7d72e {
  border-top-left-radius: 0 !important;
}

#vc-membercount {
  margin: 1em !important;
}

.theme-light .container_ee69e0 {
  background: var(--background-primary);
}

.search_ff5f90 {
  background: transparent;
}

.searchBar_a46bef {
  background: transparent;
}

/* .theme-light .chatContainer__23434 {
   background: 
   radial-gradient(circle, rgba(249,247,249,0.15) 0%, rgba(255,255,255,1) 60%),
   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700' opacity='0.63'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='turbulence' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='8' specularConstant='0.8' specularExponent='20' lighting-color='%236e47a5' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E %3CfeDistantLight azimuth='3' elevation='1'%3E%3C/feDistantLight%3E %3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='transparent'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%236e47a5' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");
 } */

.container__93316 {
  background: var(--background-primary)
}

/* window controls */
[class^='winButton']>svg {
  display: none;
}

[class^='winButton'] {
  background: none !important;
  top: 0;
  width: calc(var(--spacing) + 8px);
  height: calc(var(--spacing) + 8px);
  margin: -2px 4px 0px 0px;
}

[class^='winButtonClose'] {
  margin: -2px calc(var(--spacing) - 4px) 0px 0px;
}

[class^='winButton']::after {
  content: '';
  height: 12px;
  width: 12px;
  border-radius: 12px;
}

[class^='winButton']:hover::after {
  filter: brightness(0.8);
}

[class^='winButton']:active::after {
  transform: scale(0.9);
}

[class^='winButtonClose']::after {
  background-color: var(--status-danger);
}

[class^='winButtonMinMax']:nth-child(3)::after {
  background-color: var(--rs-online-color) !important;
}

[class^='winButtonMinMax']:nth-child(4)::after {
  background-color: var(--rs-idle-color) !important;
}

/* top corner title */
[class^='wordmarkWindows'] {
  padding: 4px var(--spacing);
}

/* top bar height */
[class^='typeWindows'] {
  height: calc(var(--spacing) + 8px);
}

/*-----------CUSTOM COLORS-----------*/
/*-------------DARK MODE-------------*/
/*---------------BASIC---------------*/
.theme-dark {
  --accent-color: #bde6fb;
  --background-1: #171d20;
  --background-2: #1e2529;
  --background-accent: #1e2529;
  --border-color: #273034;
}

/*-------------LIGHT MODE------------*/
.theme-light {
  --accent-color: #22c5fd;
  --background-1: #ffffff;
  --background-2: #f5f7fa;
  --background-accent: var(--background-2);
  --border-color: transparent;
}

/*-------------ADVANCED--------------*/
.theme-dark {
  /* background */
  --background-primary: var(--background-1);
  --background-primary-alt: var(--background-1);
  --background-secondary: var(--background-1);
  --background-secondary-alt: var(--background-1);
  --background-tertiary: var(--background-2);
  --background-accent-gradient: var(--background-2);
  --background-floating: var(--background-1);
  --background-mentioned: #bde6fb10;
  --background-mentioned-hover: #bde6fb15;
  /* modifiers */
  --background-modifier-hover: #262e33;
  --background-modifier-active: #495a63;
  --background-modifier-selected: var(--accent-color);
  --background-modifier-accent: transparent;
  --background-message-hover: transparent;
  /* text */
  --text-normal: var(--accent-color);
  --text-positive: var(--text-normal);
  --text-muted: #6d8692;
  --text-link: #edf8fe;
  --interactive-selected: var(--background-primary);
  --interactive-active: var(--text-normal);
  --interactive-normal: var(--text-normal);
  --interactive-muted: var(--button-background-active);
  --channels-default: var(--text-muted);
  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);
  /* more */
  --settings-icon-color: #8eacbc;
  --control-brand-foreground: var(--accent-color);
  --info-warning-foreground: var(--accent-color);
  --tab-selected: #354249;
  --switch: #3d4c53;
  --activity-card-background: var(--background-1);
  --brand-experiment: var(--accent-color) !important;
  /* buttons */
  --button-background: #2a3439;
  --button-background-hover: #354249;
  --button-background-active: #4d5f68;
  --button-accent: var(--accent-color);
  --button-accent-hover: #d2f3ff;
  --button-accent-active: #8dd4f8;
  --button-destructive: #fb7c7c;
  --button-destructive-hover: #ff929b;
  --button-destructive-active: #fa4a4a;
}

.theme-light {
  /* background */
  --background-primary: var(--background-1);
  --background-primary-alt: var(--background-1);
  --background-secondary: var(--background-1);
  --background-secondary-alt: var(--background-1);
  --background-tertiary: var(--background-2);
  --background-accent-gradient: var(--background-2);
  --background-floating: var(--background-1);
  --background-mentioned: #22c5fd10;
  --background-mentioned-hover: #22c5fd15;
  /* modifiers */
  --background-modifier-hover: transparent;
  --background-modifier-active: #b7c2cc;
  --background-modifier-selected: var(--accent-color);
  --background-modifier-accent: transparent;
  --background-message-hover: transparent;
  /* text */
  --text-normal: #123354;
  --text-positive: var(--text-normal);
  --text-muted: #8495a7;
  --text-link: #15a6f0;
  --interactive-selected: var(--background-primary);
  --interactive-active: var(--text-normal);
  --interactive-normal: var(--text-normal);
  --interactive-muted: var(--text-muted);
  --channels-default: var(--text-normal);
  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);
  /* more */
  --settings-icon-color: #566e86;
  --control-brand-foreground: var(--accent-color);
  --info-warning-foreground: var(--accent-color);
  --tab-selected: var(--background-1);
  --switch: #c8d0d9;
  --activity-card-background: var(--background-1);
  --brand-experiment: var(--accent-color) !important;
  /* buttons */
  --button-background: var(--background-1);
  --button-background-hover: #d3dae1;
  --button-background-active: #b1bcc8;
  --button-accent: var(--accent-color);
  --button-accent-hover: #22c5fd;
  --button-accent-active: #0d87c5;
  --button-destructive: #fb7c7c;
  --button-destructive-hover: #ff929b;
  --button-destructive-active: #fa4a4a;
}

/*-----------DON'T CHANGE------------*/
:root {
  --outdated-122: none !important;
}

/*  usrbg | snippet by _david_#0218  */
.userPopout-2j1gM4[style*="--user-background"] .banner_c3e427,
.root-8LYsGj[style*="--user-background"] .banner_c3e427 {
  height: 120px;
  background: var(--background-tertiary) var(--user-background) var(--user-popout-position, center) center / cover !important;
}

.root-8LYsGj[style*="--user-background"] .banner_c3e427 {
  height: 240px;
}

#app-mount .wrapper_d8bfb3.modeSelected_d8bfb3 .link_d8bfb3 .name_d8bfb3 {
  color: var(--interactive-selected) !important;
}

#app-mount .tab_f0cd33[aria-selected=true] {
  color: var(--interactive-selected) !important;
}

.interactive_f5eb4b:hover,
.interactive_f5eb4b:focus-within {
  color: var(--interactive-hover) !important;
}

.selected_a0.item_a0.themed_a0 {
  color: var(--interactive-selected) !important;
}

.selected_a0.item_a0:hover {
  color: var(--interactive-hover) !important;
}

.item_eb92a8[aria-checked=true] {
  color: var(--interactive-selected) !important;
}

.radioIconForeground_eb92a8 {
  color: var(--interactive-selected) !important;
}
