/**
 * @name Celk
 * @version 1.2.2
 * @description a smooth theme inspired by zorin
 * @author schnensch & temperance
 * @authorId 652801938374656013
 * @source https://github.com/schnensch0/zelk
 */
/*         ▀▀█ █▀▀ █   █ █
           ▄▀  █▀▀ █   █▀▄
           ▀▀▀ ▀▀▀ ▀▀▀ ▀ ▀           */
 /*--------------IMPORTS------------- */
@import url(https://schnensch0.github.io/zelk/main.css);
@import url(https://discord-custom-covers.github.io/usrbg/dist/usrbg.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);
@import url(https://blacksparowyt.github.io/Zelk-Discord-Theme-Fixes/main-fixes.css); 
/*--------------COLORS---------------*/ 
/*------remove / and * to apply------*/
@import url(https://raw.githubusercontent.com/tmprnc/zelk/main/catppuccin.css);
/* @import url(https://raw.githack.com/schnensch0/zelk/main/colors/green.css); */
/* @import url(https://raw.githack.com/schnensch0/zelk/main/colors/gray.css); */
/* @import url(https://raw.githack.com/schnensch0/zelk/main/colors/orange.css); */
/* @import url(https://raw.githack.com/schnensch0/zelk/main/colors/purple.css); */
/* @import url(https://raw.githack.com/schnensch0/zelk/main/colors/red.css); */
/* @import url(https://raw.githack.com/schnensch0/zelk/main/colors/discord.css); */
/*-------------VARIABLES-------------*/
:root {
  /* set to 'unset' to show */
  --scrollbars: none;
  /* user notes */
  --notes: none;
  /* direct message box */
  --message: none;
  /* set to '4px solid' to show */
  --embed-color: none;
  --border-radius-1: 10px;
  --border-radius-2: 8px;
  --spacing: 12px;
  --font-primary: "Atkinson Hyperlegible" !important;
  --font-display: "Assistant" !important;  
  --var-opacity-option: 0.4 !important;
  /* Set's the BASE opacity (titlebar, and the server bar) */
    --brand-500: var(--accent-color) !important;
}

* {
    scrollbar-width: unset !important;
    scrollbar-color: unset !important;
}

.theme-dark .header__58a85 .tabBar__2aa8e .tab_a8a066.active__7e7af {
    background-color: var(--accent-color);
}

:root {
  /*
   * RadialStatus veriables
   */
   --rs-small-spacing: 2px; /* Spacing between profile image and outer ring on small icons (e.g. member list) | Default: 2px */
   --rs-medium-spacing: 4px; /* Spacing between profile image and outer ring on medium icons (e.g. user popout) | Default: 4px */
   --rs-large-spacing: 4px; /* Spacing between profile image and outer ring on medium icons (e.g. user popout fullscreen) | Default: 4px */
   --rs-small-width: 1.5px; /* Ring width (follows same sizing as above) | Default: 1.5px */
   --rs-medium-width: 2px; /* Default: 2px */
   --rs-large-width: 2px; /* Default: 2px */
   /* Customizable colors */
   --rs-online-color: #43b581; /* Default: #43b581 */
   --rs-idle-color: #faa61a; /* Default: #faa61a */
   --rs-dnd-color: #f04747; /* Default: #f04747 */
   --rs-offline-color: #636b75; /* Default: #636b75 */
   --rs-streaming-color: #643da7; /* Default: #643da7 */
   --rs-invisible-color: #747f8d; /* Default: #747f8d */
   --rs-phone-color: var(--rs-online-color); /* Color of the phone for mobile users | Default: var(--rs-online-color) */
   --rs-phone-visible: ; /* Visibility of the phone for mobile users | Default: block */
   --glow-intensity: 1;
   --indicator-connected-border: hsl(var(--indicator-connected));
   --indicator-connected-background: hsla(var(--indicator-connected)/0.15);
   --indicator-connected-hover-background: hsla(var(--indicator-connected)/0.25);
   --indicator-connected: var(--green-230-hsl);
}

/* CUSTOM CSS */

.repliedMessage__636d2 .username__0b0e7 {
  margin-left: 0.1em;
  opacity: 0.8
}

.vc-reply-timestamp {
  width: auto !important;
  margin-right: 0.55em;
  line-height: inherit;
}

.repliedMessage__636d2 .repliedTextPreview__1a8a4 .repliedTextContent_b12fe1 {
  opacity: 0.65;
}

.channelTextArea_c2094b  {
  background: transparent !important;
}

.replyBar_ed6afc {
  background: transparent !important;
}

.attachedBars_c1606a {
  background: transparent !important;
  backdrop-filter: blur(var(--blur-popup));
}


.jumpToPresentBar__69174 {
	background: none;
	backdrop-filter: blur(var(--blur-popup));
}

.unread__75c9f {
	background: none;
}

.unread__11823 {
  background: transparent;
  z-index: 10;
}

.bar_edc096 {
  background: var(--accent-85);
  backdrop-filter: blur(95px);
  box-shadow: 0px 0px 5px 0px var(--accent-color);
}

.unread__75c9f.bar_edc096 {
    color: var(--background-1);
}

.subtitleContainer_f50402 { 
  /* header de channel discord*/
  backdrop-filter: blur(1px);
  background: #00000085;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;

  /* son enfant direct */

  & > .theme-dark .themed_b152d4 {
      background: transparent;
  }
}

.newMessagesBar__8b272 {
  backdrop-filter: blur(var(--blur-popup));
  background-color: var(--accent-85);
  position: absolute;
  top: 48px; /* hauteur du header */
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgb(0 0 0 / 3%);
}

.wrapper__612a5.modeSelected__473f1 .actionIcon_b149a2 > path {
  fill: var(--background-1) !important;
  
}
.modeSelected__473f1:hover .name__4eb92 {
  color: var(--background-1)
}

.actionIcon_b149a2 {
  color: var(--text-normal);
}

.buttonIcon__64412 {
  --__lottieIconColor: var(--background-1) !important;
}

.vc-reply-timestamp {
  width: 1.8rem !important;
}

.wrapper__8436d:hover .childWrapper_a6ce15, .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15 {
  color: var(--background-2);
}

.iconBadge__19638 {
    background-color: var(--accent-color);
  }

#vc-friendcount {
  font-size: 0.65em;
  font-weight: lighter;
}

.base__5ed84 {
 color: var(--background-1) !important;
}

.name__4eb92 {
  font-size: 0.9rem;
}

.vc-smyn-suffix {
  font-size: smaller;
}

.jumpToPresentBar__69174 > .barButtonBase__5e4cf {
  color: var(--text-normal) !important;
}

.botTagRegular_fc4b4a {
  color: var(--background-1);
  font-family: 'Assistant' !important;
  font-size: smallest !important;
}

.rem_be1e7a.botTag__4211a {
  height: auto;
  margin-top: 0.05em;
}

.botTagCozy__85d43 {
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}

.children_cde9af:after {
  background: none !important;
}

.container_f41675, .container_f79ab4, .members__573eb, .container__26baa, .privateChannels__9b518 {
  background-color: var(--background-tertiary) !important;
}

.navButtonActive__0c878 {
  background-color: var(--accent-color);
}


.theme-dark .chatContainer__23434 {
  background: 
  radial-gradient(circle, rgba(34,31,38,0.15) 0%, rgba(26,24,30,1) 60%),
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700' opacity='0.63'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='turbulence' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='8' specularConstant='0.8' specularExponent='20' lighting-color='%236e47a5' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E %3CfeDistantLight azimuth='3' elevation='1'%3E%3C/feDistantLight%3E %3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='transparent'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%236e47a5' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");
}

.theme-dark .lookFilled__950dd.colorBrand__27d57 {
  color: var(--background-1);
}


.modeSelected__473f1 .name__4eb92, .modeSelected__473f1 .name__4eb92, .interactiveSelected__689f0, .selected_a523ff.item__48dda, .selected_a523ff.item__48dda:hover {
  color: var(--background-1);
}

.vc-settings-tab-bar > .selected_a523ff.item__48dda {
  color: var(--accent-color);
}

.button_b82d53 .buttonColor__7bad9, .button_b82d53.buttonColor__7bad9 {
  background-color: var(--accent-color);
}

.button_b82d53 .buttonColor__7bad9, .button_b82d53.buttonColor__7bad9:hover {
  background-color: var(--button-accent-active);
} 

.containerDefault_ae2ea4.selected__11b62 .iconNoChannelInfo__2e82b > .actionIcon_b149a2 {
  color: var(--background-1);
}

.interactiveSelected__689f0 > .closeIcon__2816e {
  background: var(--background-1);
}

.barButtonBase__5e4cf {
  color: var(--background-1);
}

.iconItem__56989.alwaysShown_c7a3fc > .actionIcon_b149a2 {
  color: var(--background-1);
}

.containerDefault_ae2ea4.selected__11b62 .dots_a97068.themed__4f364 {
  color: var(--background-1);
}

.modeSelected__473f1 .icon__67ab4, .modeSelected__473f1:hover .icon__67ab4 {
  color: var(--background-1);
}

.themed_b152d4 {
  background: var(--background-tertiary) !important;
}

.modeUnreadImportant__35358 .icon__67ab4 {
  color: var(--accent-color) !important;
}

.containerDefault_ae2ea4:has(.modeConnected__52a8f) .link_ddbb36 svg,
.containerDragBefore__257b9:has(.modeConnected__52a8f) .link_ddbb36 svg {
  color: var(--indicator-connected-border);
}

.icon__67ab4 {
  color: var(--channels-default);
}

.header__77c95, .content__01e65:before, .searchBar__621ec, .tabBody_a90ea8:before {
  box-shadow: none;
}

.content__4bf10 {
  gap: 0;
}

.scroller_f0f183 {
  border-top-right-radius: 0;
}

.scroller__1f96e {
  border-top-left-radius: 0 !important;
}

.chatContent__5dca8 {
  border-top-left-radius: 0 !important;
}

#vc-membercount {
  margin: 1em !important;
}

.membersGroup__85843 {
  padding: 0 12px;
}

.theme-light .container__590e2 {
  background: --background-primary;
}

.search__07df0 {
  background: transparent;
}

.searchBar_e0c60b {
  background: transparent;
}

/* .theme-light .chatContainer__23434 {
  background: 
  radial-gradient(circle, rgba(249,247,249,0.15) 0%, rgba(255,255,255,1) 60%),
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700' opacity='0.63'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='turbulence' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='8' specularConstant='0.8' specularExponent='20' lighting-color='%236e47a5' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E %3CfeDistantLight azimuth='3' elevation='1'%3E%3C/feDistantLight%3E %3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='transparent'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%236e47a5' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");
} */


.container__93316 {
  background: var(--background-primary)
} 

/* window controls */
[class^='winButton'] > svg {
	display: none;
}
[class^='winButton'] {
	background: none !important;
	top: 0;
	width: calc(var(--spacing) + 8px);
	height: calc(var(--spacing) + 8px);
	margin: -2px 4px 0px 0px;
}
[class^='winButtonClose'] {
	margin: -2px calc(var(--spacing) - 4px) 0px 0px;
}
[class^='winButton']::after {
	content: '';
	height: 12px;
	width: 12px;
	border-radius: 12px;
}
[class^='winButton']:hover::after {
	filter: brightness(0.8);
}
[class^='winButton']:active::after {
	transform: scale(0.9);
}
[class^='winButtonClose']::after {
	background-color: var(--rs-dnd-color) !important;
}
[class^='winButtonMinMax']:nth-child(3)::after {
	background-color: var(--rs-online-color) !important;
}
[class^='winButtonMinMax']:nth-child(4)::after {
	background-color: var(--rs-idle-color) !important;
}

/* top corner title */
[class^='wordmarkWindows'] {
	padding: 4px var(--spacing);
}

/* top bar height */
[class^='typeWindows'] {
	height: calc(var(--spacing) + 8px);
}

/*-----------CUSTOM COLORS-----------*/
/*-------------DARK MODE-------------*/
/*---------------BASIC---------------*/
.theme-dark {
  --accent-color: #bde6fb;
  --background-1: #171d20;
  --background-2: #1e2529;
  --background-accent: #1e2529;
  --border-color: #273034;
}
/*-------------LIGHT MODE------------*/
.theme-light {
  --accent-color: #22c5fd;
  --background-1: #ffffff;
  --background-2: #f5f7fa;
  --background-accent: var(--background-2);
  --border-color: transparent;
}
/*-------------ADVANCED--------------*/
.theme-dark {
  /* background */  
  --background-primary: var(--background-1);
  --background-primary-alt: var(--background-1);
  --background-secondary: var(--background-1);
  --background-secondary-alt: var(--background-1);
  --background-tertiary: var(--background-2);
  --background-accent-gradient: var(--background-2);
  --background-floating: var(--background-1);
  --background-mentioned: #bde6fb10;
  --background-mentioned-hover: #bde6fb15;
  /* modifiers */
  --background-modifier-hover: #262e33;
  --background-modifier-active: #495a63;
  --background-modifier-selected: var(--accent-color);
  --background-modifier-accent: transparent;
  --background-message-hover: transparent;
  /* text */
  --text-normal: var(--accent-color);
  --text-positive: var(--text-normal);
  --text-muted: #6d8692;
  --text-link: #edf8fe;
  --interactive-selected: var(--background-primary);
  --interactive-active: var(--text-normal);
  --interactive-normal: var(--text-normal);
  --interactive-muted: var(--button-background-active);
  --channels-default: var(--text-muted);
  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);
  /* more */
  --settings-icon-color: #8eacbc;
  --control-brand-foreground: var(--accent-color);
  --info-warning-foreground: var(--accent-color);
  --tab-selected: #354249;
  --switch: #3d4c53;
  --activity-card-background: var(--background-1);
  --brand-experiment: var(--accent-color) !important;
  /* buttons */
  --button-background: #2a3439;
  --button-background-hover: #354249;
  --button-background-active: #4d5f68;
  --button-accent: var(--accent-color);
  --button-accent-hover: #d2f3ff;
  --button-accent-active: #8dd4f8;
  --button-destructive: #fb7c7c;
  --button-destructive-hover: #ff929b;
  --button-destructive-active: #fa4a4a;
}
.theme-light {
  /* background */
  --background-primary: var(--background-1);
  --background-primary-alt: var(--background-1);
  --background-secondary: var(--background-1);
  --background-secondary-alt: var(--background-1);
  --background-tertiary: var(--background-2);
  --background-accent-gradient: var(--background-2);
  --background-floating: var(--background-1);
  --background-mentioned: #22c5fd10;
  --background-mentioned-hover: #22c5fd15;
  /* modifiers */
  --background-modifier-hover: transparent;
  --background-modifier-active: #b7c2cc;
  --background-modifier-selected: var(--accent-color);
  --background-modifier-accent: transparent;
  --background-message-hover: transparent;
  /* text */
  --text-normal: #123354;
  --text-positive: var(--text-normal);
  --text-muted: #8495a7;
  --text-link: #15a6f0;
  --interactive-selected: var(--background-primary);
  --interactive-active: var(--text-normal);
  --interactive-normal: var(--text-normal);
  --interactive-muted: var(--text-muted);
  --channels-default: var(--text-normal);
  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);
  /* more */
  --settings-icon-color: #566e86;
  --control-brand-foreground: var(--accent-color);
  --info-warning-foreground: var(--accent-color);
  --tab-selected: var(--background-1);
  --switch: #c8d0d9;
  --activity-card-background: var(--background-1);
  --brand-experiment: var(--accent-color) !important;
  /* buttons */
  --button-background: var(--background-1);
  --button-background-hover: #d3dae1;
  --button-background-active: #b1bcc8;
  --button-accent: var(--accent-color);
  --button-accent-hover: #22c5fd;
  --button-accent-active: #0d87c5;
  --button-destructive: #fb7c7c;
  --button-destructive-hover: #ff929b;
  --button-destructive-active: #fa4a4a;
}
/*-----------DON'T CHANGE------------*/
:root {
  --outdated-122: none !important;
}
/*  usrbg | snippet by _david_#0218  */
.userPopout-2j1gM4[style*="--user-background"] .banner-1YaD3N, .root-8LYsGj[style*="--user-background"] .banner-1YaD3N {
  height: 120px;
  background: var(--background-tertiary) var(--user-background) var(--user-popout-position, center) center / cover !important;
}
.root-8LYsGj[style*="--user-background"] .banner-1YaD3N {
  height: 240px;
}

#app-mount .wrapper__7bcde.modeSelected__487d6 .link__95dc0 .name__8d1ec {
  color: var(--interactive-selected) !important;
}

#app-mount .tab_a8a066[aria-selected=true] {
  color: var(--interactive-selected) !important;
} 

.interactiveSelected_ec846b {
  color: var(--interactive-selected) !important;
}

.interactive__776ee:hover, .interactive__776ee:focus-within  {
  color: var(--interactive-hover) !important;
}

.selected__5711d.item__48dda.themed_b957e8 {
  color: var(--interactive-selected) !important;
}

.selected__5711d.item__48dda:hover {
  color: var(--interactive-hover) !important;
}

.lookFilled__19298.colorBrand_b2253e {
  color: var(--interactive-selected) !important;
}

.item_b7fb7e[aria-checked=true] {
  color: var(--interactive-selected) !important;
}

.radioIconForeground__99b9b {
  color: var(--interactive-selected) !important;
}
